header{
  color: white
}
body {
  margin: 40px;
  background: purple;
}
span.title {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-family: Verdana;
}

span.subtitle {
  font-size: 15px;
  color: gray
}
.card {
  background: pink;
  border-radius: 20px;
  border-block-style: solid;
  border-block-color: pink;
  border: 30px solid pink;
}

.deskripsi{
  background: purple;
  border-radius: 30px;
  border-block-style: solid;
  border-block-color: pink;
  margin: auto;
  color: white;
}
h2 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.image{
  float: right;
  height: 100px;
  width: 100px;
  border : 7px solid pink;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
